<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CubeView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Fluid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>adjuster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>arc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>bitmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>blocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>boxtype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>browser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>button.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>buttons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>checkers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>clock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>colbrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>color_chooser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>cursor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>curve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>doublebuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>fast_slow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>file_chooser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>fltk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>fltk_forms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>fltk_gl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>fltk_images.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>fltk_jpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>fltk_png.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>fltk_zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>forms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>fractals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>fullscreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>gl_overlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>glpuzzle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>hello.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>help.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>iconize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>inactive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>input.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>input_choice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>label.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>line_style.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>list_visuals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>mandelbrot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>menubar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>message.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>minimum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>native-filechooser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>navigation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>output.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>overlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>pack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>pixmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>pixmap_browser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>preferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>radio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>resize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>resizebox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>rotated_text.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>scroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>shape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>subwindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>sudoku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>symbols.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>tabs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>tile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>tiled_image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>tree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>utf8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>valuators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0392A304CDC05B94337B7C04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C8980D2E4E0E914FE651FDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F789352A34B2A230259EEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10F40C4AE712B17C78435935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>134239549D6BFAC3F8EFC363</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B95BDCBCADC140B2AB54A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B8EEEC5C9C85BA44EF759EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22F83D75D3AC309504978002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>234377F13A1D2CBBCF9E5043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B873E37B315C0F7BABC202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>287CEC5F63A8B5FCDA246BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28919176E960D4209BAB8420</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A6B003A80FBAF126EC8F448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BFE084E4D6FAB77DCAF0A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D69D33A1EBE0D85982EDCC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FF2A1069F117986FB927DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F2A3666BFB337E150860D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F787DB6844466ACF848593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C13C653905795060D6D4F0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6AD358F2FC5419FDA04243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43080284D40D3965685C7975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6391C0735EF1A5A8588826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F654080B01E856B05662A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51EB382683C25DBDD02CBF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57D7735B02F5215416BA2856</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2FE9F5E71E04EA903248FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E088B3BCE2A52C627EC5A53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FF6CC4785D964CE080FB494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>623691BDB3A292582380383B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>658EF1017CAE2D453B68A345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68590AB4E7667EB94AC7533D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C72ECB2743615E24D873456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7483E011046F1E2FC84A989B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>752ADA98861AB73DFEECD267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78DE657148EC00153D1103A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79BD42AF87FBA9AE10BD7C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C787E8918BC5CF86B17E1EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82436F720F585ECD3B0A56CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82C0BD76C77A518B0A1499B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86BF0C207C6D13ED2B83B63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DAC07651B4C516C173A1C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93AABBAC7C288CC95BFC5707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9472188EEB541EF3EA60AB03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98B39383C1F47726C5C0793B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8F59CD813587E2E463DF07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EA6FF727BC736133B0B85A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0731BABBE8E29CE96AC61A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2AA5A5F9FF0A53A3382DD6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57FDE871C99A52BEEDEE68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58BB416AAFDCFF08D7C7E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5932F4EEB6D1D7E5D1A314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE6BC0AEB24EBBBDBA4071E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF9D43D9317D81CEF5290A74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFC1E48270AB19243D7B668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B37F5F8EB169ABA76EA02FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A214CBEE4FE0EB1FEF8982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5DAF3DCC189A02ADD9DF320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B807BFE7F9E6FCE88C0A4E9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB76D328D5B89A1273946784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB651546D79EDC169128FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C13484C4A9262C58D8FA7242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4B346660A74B9FCF04EFB2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8EFCE83A8BC9CA56922D024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9165EA11291A304003FF4F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA05747C492074A51F2F35BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D14DC4F3D302856B84343ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1A43D1D85A87A20B2F7FB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D217C1AD7BE42CB2138F2993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D4B168DE66A92F9F8747C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC14E2CC213CC0028EF9BD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E167C0E81B125EBADAC8ED73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8BE99F75E5F3C8725834B33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE40189E3B7BB6337ABA74C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0647F049CED2B54A017A6A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F39A907E68C3C55EACDF4D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F781BF6B6F74841F05AAA4BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA19DC0D800A66EC69E9560E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE67811CD6F028754008B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
